body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #e3e3e3;
}

header {
  background-color: #5e1916;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  background-color: #323232;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  width: 90%;
  max-width: 600px;
  margin: 1em auto;
  padding: 1em 1.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: grid;
  grid-column: 1;
  place-items: center;
}

h1, h2 {
  margin-top: 0;
}

button {
  background-color: #701f1c;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-size: 1em;
}

button:hover {
  background-color: #561917;
  color: #e0e0e0
}

footer {
  text-align: center;
  color: #c9c9c9;
  font-size: 0.9em;
  padding: 1em 0;
  border-top: 1px solid #4d4d4d;
  margin-top: 2em;
}

select {
  text-align: center;
  background-color: #c5c5c5;
  border-radius: 5px;
  width: 20rem;
}

.queue-element, .ticket-information {
  display: grid;
  grid-column: 1;
  place-items: center;
  row-gap: 0;
}

.purchased-ticket {
  white-space: normal;
}